
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

:root {
  --pinkB: #FF4EFF;
  --pinkD: #9E0084;
  --orangeB: #FFE0CC;
  --orangeD: #792934;
  --greenB: #E5F3FC;
  --greenD: #56A8B8;
  --blueB: #AED3FE;
  --blueD: #4875CC;
  --black: #201734;
}

@font-face {
  font-family: moon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
  font-family: clipneon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

@font-face {
  font-family: lasenter;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}

body{
  
  filter: grayscale(52%) sepia(27%) brightness(82%) hue-rotate(16deg) saturate(360%) opacity(93%) contrast(104%) invert(8%);
-webkit-filter: grayscale(52%) sepia(27%) brightness(82%) hue-rotate(16deg) saturate(360%) opacity(93%) contrast(104%) invert(8%);
-moz-filter: grayscale(52%) sepia(27%) brightness(82%) hue-rotate(16deg) saturate(360%) opacity(93%) contrast(104%) invert(8%);
}

.sign-two {
  margin-top: 2vh;
  color: #A9FFDC;
  font-family: clipneon;
  font-size: 10vw;
  line-height: 5vw;
  text-shadow: 0vw 0vw 3vw #F40A35;
  text-shadow: 
  -.1vw 0vw .25vw #A9FFDC, -.2vw 0vw .25vw #A9FFDC, -.4vw 0vw .25vw #A9FFDC, 
  -.1vw 0vw .1vw #00CC2A, -.2vw 0vw .1vw #00CC2A, -.4vw 0vw .1vw #00CC2A,
  -.1vw 0vw .8vw #00CC2A, -.2vw 0vw .8vw #00CC2A, -.4vw 0vw .8vw #00CC2A, .2vw 0vw .5vw #00CC2A,
  -.1vw 0vw .5vw #00CC2A, -.2vw 0vw .5vw #00CC2A, -.4vw 0vw .5vw #00CC2A, 
  -.1vw 0vw 10vw #16FA19, -.2vw 0vw 10vw #16FA19, -.4vw 0vw 10vw #16FA19;
}

.fa-heart-o {
  color: #FBB4FF;
  text-shadow: 
-.1vw 0vw .25vw #FBB4FF, -.2vw 0vw .25vw #FBB4FF, -.4vw 0vw .25vw #FBB4FF, 
-.1vw 0vw 1vw #E82FF5, -.2vw 0vw .8vw #E82FF5, -.4vw 0vw .8vw #E82FF5, .2vw 0vw .5vw #E82FF5,
-.1vw 0vw 10vw #CB16FA, -.2vw 0vw 10vw #CB16FA, -.4vw 0vw 10vw #CB16FA;
}

.off {
  color: #4A7061;
  display: inline-block;
  text-shadow: 
  -.1vw 0vw .25vw #4A7061, -.2vw 0vw .25vw #4A7061, -.4vw 0vw .25vw #4A7061, 
  -.1vw 0vw .1vw #184D23, -.2vw 0vw .1vw #184D23, -.4vw 0vw .1vw #184D23,
  -.1vw 0vw .8vw #184D23, -.2vw 0vw .8vw #184D23, -.4vw 0vw .8vw #184D23, .2vw 0vw .5vw #184D23,
  -.1vw 0vw .5vw #184D23, -.2vw 0vw .5vw #184D23, -.4vw 0vw .5vw #184D23, 
  -.1vw 0vw 2vw #184D23, -.2vw 0vw 2vw #184D23, -.4vw 0vw 2vw #184D23;
}

.heart-off {
  animation: heart .1s ease infinite;
  -moz-animation: heart .1s ease infinite;
  /* Firefox */
  -webkit-animation: heart .1s ease infinite;
  /* Safari and Chrome */
  -o-animation: heart .1s ease infinite;
  /* Opera */
}

@keyframes heart {
  0%,
  100% {
    /* Enable hardware acceleration to fix laggy transitions */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    color: #FBB4FF;
    text-shadow: 
  -.1vw 0vw .25vw #FBB4FF, -.2vw 0vw .25vw #FBB4FF, -.4vw 0vw .25vw #FBB4FF, 
  -.1vw 0vw 1vw #E82FF5, -.2vw 0vw .8vw #E82FF5, -.4vw 0vw .8vw #E82FF5, .2vw 0vw .5vw #E82FF5,
  -.1vw 0vw 10vw #CB16FA, -.2vw 0vw 10vw #CB16FA, -.4vw 0vw 10vw #CB16FA;
  }
  50% {
    /* Enable hardware acceleration to fix laggy transitions */
   -webkit-transform: translateZ(0);
   -moz-transform: translateZ(0);
   -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    color: #8F5493;
    text-shadow: 
  -.1vw 0vw .25vw #8F5493, -.2vw 0vw .25vw #8F5493, -.4vw 0vw .25vw #8F5493, 
  -.1vw 0vw .8vw #59125E, -.2vw 0vw .8vw #59125E, -.4vw 0vw .8vw #59125E, .2vw 0vw .5vw #59125E,
  -.1vw 0vw 3vw #42114E, -.2vw 0vw 3vw #42114E, -.4vw 0vw 3vw #42114E;
  }
}

#container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.sign-three{
  margin-top: 10vh;
  margin-left: -7vw;
}

.restaurant{
  -ms-transform: rotate(-10deg); /* IE 9 */
  -webkit-transform: rotate(-10deg); /* Chrome, Safari, Opera */
  color: #28D7FE;
  font-family: lasenter;
  font-size: 3em;
  transform: rotate(-10deg);
  text-shadow: 
  .1vw 0vw .25vw #28D7FE, .2vw 0vw .25vw #28D7FE, .4vw 0vw .25vw #28D7FE, 
  .1vw 0vw .1vw #1041FF, .2vw 0vw 0vw #1041FF, .4vw 0vw 0vw #1041FF,
  .1vw 0vw .1vw #1041FF, .2vw 0vw .1vw #1041FF, .4vw 0vw 0vw #1041FF,
  .1vw 0vw .8vw #1041FF, .2vw 0vw .8vw #1041FF, .4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
  .1vw 0vw .5vw #1041FF, .2vw 0vw .5vw #1041FF, .4vw 0vw .5vw #1041FF, 
  .1vw 0vw 10vw #1041FF, .2vw 0vw 10vw #1041FF, .4vw 0vw 10vw #1041FF;
}


.jackpots {
  transform: skew(0deg, -8deg);
  font-family: moon;
  font-size: 9vw;
  margin-left: 9vw;
  animation: jackpots 1s 0s ease infinite;
  -moz-animation: jackpots 1s 0s ease infinite;
  /* Firefox */
  -webkit-animation: jackpots 1s 0s ease infinite;
  /* Safari and Chrome */
  -o-animation: jackpots 1s 0s ease infinite;
  /* Opera */
}

@keyframes jackpots {
  0%,
  100% {
  text-shadow: 
  -.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128, 
  -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
  -.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
    color: #FED128;
  }
  50% {
  text-shadow: 
  -.1vw 0vw .1vw #705C12, -.15vw 0vw .2vw #705C12, -.2vw 0vw .2vw #705C12, 
  -.1vw 0vw .1vw #5C0704, -.2vw 0vw .1vw #5C0704, -.4vw 0vw .1vw #5C0704,
  -.1vw 0vw .2vw #5C0704, -.2vw 0vw .2vw #5C0704, -.4vw 0vw .2vw #5C0704, .2vw 0vw .5vw #5C0704;
    color: #705C12;
  }
}

#demo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.tiempos {
  font-size: 1.5em;
  margin: 0 10px 0 10px;
}

.tiempoT {
  font-size: 0.4em;
  margin-top: 0;
}

.sign-four {
  -webkit-transform: matrix3d(0.77,0,-0.64,-.001,0.00,1,0.00,0,0.64,0,0.77,0,0,0,0,1);
  color: #F0D6DE !important;
  font-family: clipneon;
  font-size: 10vw;
  line-height: 6vw !important;
  margin-right: 2vw !important;
  padding-top: 15vh;
  transform: matrix3d(0.77,0,-0.64,-.001,0.00,1,0.00,0,0.64,0,0.77,0,0,0,0,1) ;
  text-shadow: 
  .1vw 0vw .25vw #F0D6DE, .2vw 0vw .25vw #F0D6DE, .4vw 0vw .25vw #F0D6DE, 
  .1vw 0vw .1vw #F181B2, .2vw 0vw 0vw #F181B2, .4vw 0vw 0vw #F181B2,
  .1vw 0vw .1vw #F181B2, .2vw 0vw .1vw #F181B2, .4vw 0vw 0vw #F181B2,
  .1vw 0vw 1vw #F181B2, .2vw 0vw 2vw #F181B2, .4vw 0vw 2vw #F181B2, .2vw 0vw 5vw #F181B2,
  .1vw 0vw .5vw #F20B70, .2vw 0vw .5vw #F20B70, .4vw 0vw 6vw #F20B70, 
  .1vw 0vw 4vw #F20B70, .2vw 0vw 20vw #F20B70, .4vw 0vw 10vw #F20B70,
  .1vw 0vw 10vw #F20B70, .2vw 0vw 30vw #F20B70, .4vw 0vw 10vw #F20B70 !important; 
}

.currency {
  color: #FDF8FD !important;
  font-size: 8vw;
  margin-top: 2vh;
  text-shadow: 
  .1vw 0vw .25vw #FDF8FD, .2vw 0vw .25vw #FDF8FD, .4vw 0vw .25vw #FDF8FD, 
  .1vw 0vw .1vw #F1EC81, .2vw 0vw 0vw #F1EC81, .4vw 0vw 0vw #F1EC81,
  .1vw 0vw .1vw #F1EC81, .2vw 0vw .1vw #F1EC81, .4vw 0vw 0vw #F1EC81,
  .1vw 0vw 1vw #F1EC81, .2vw 0vw 2vw #F1EC81, .4vw 0vw 2vw #F1EC81, .2vw 0vw 5vw #F1EC81,
  .1vw 0vw .5vw #F2E90B, .2vw 0vw .5vw #F2E90B, .4vw 0vw 6vw #F2E90B, 
  .1vw 0vw 2vw #F2E90B, .2vw 0vw 5vw #F2E90B, .4vw 0vw 0vw #F2E90B !important;
}

.fa-angle-double-down{
  font-size: 3em;
  margin-top: 2vh;
  animation: jackpots 1s 0s ease infinite;
  -moz-animation: jackpots 1s 0s ease infinite;
  /* Firefox */
  -webkit-animation: jackpots 1s 0s ease infinite;
  /* Safari and Chrome */
  -o-animation: jackpots 1s 0s ease infinite;
  /* Opera */
}

/*characters images

#hellocharac {
  position: absolute;
  width: 8em;
  z-index: 1;
  right: -0.1em;
  animation: character 2s ease-in-out 0s infinite normal forwards;
}

#cinacharac {
  position: absolute;
  width: 9em;
  z-index: 1;
  top: 185vh;
  left: 33vw;
  animation: character 2s ease-in-out 0s infinite normal forwards;
}

#tuxcharac {
  position: absolute;
  width: 7em;
  z-index: 1;
  top: 350vh;
  left: 70vw;
  animation: character 2s ease-in-out 0s infinite normal forwards;
}

#melodycharac {
  position: absolute;
  width: 9em;
  z-index: 1;
  top: 390vh;
  left: 2vw;
  animation: character 2s ease-in-out 0s infinite reverse forwards;
}

@keyframes character {
  0%,
  100% {
    transform: translateX(0%);
    transform-origin: 50% 50%;
  }

  15% {
    transform: translateX(-15px) rotate(-4deg);
  }

  30% {
    transform: translateX(10px) rotate(4deg);
  }

  45% {
    transform: translateX(-10px) rotate(-3.6deg);
  }

  60% {
    transform: translateX(5px) rotate(2.4deg);
  }

  75% {
    transform: translateX(-5px) rotate(-1.2deg);
  }
} */

/*front section*/

#portada {
  background: var(--black);
  background-size: contain;
  background: linear-gradient(180deg, rgba(0,0,0,1) 35%, rgba(32,23,52,1) 100%);

}

#portada .content {
  margin-top: -1em;
}

#foto {
  object-fit: cover;
  filter: contrast(40%);
  filter: brightness(130%);
  filter: saturate(1.5);
  width: fit-content;
  margin-bottom: 0;
  margin-top: -2em;
  background: url(Erica\ Anderson.gif);
  height: 50vh;
  width: 100vw;
  margin-left: -0.1em;
}

#portada .sign {
  font-family: 'Neonderthaw', cursive;
  color: var(--orangeB);
  font-size: 5em !important;
  font-weight: 500;
  margin-top: -15vh;
  border-radius: 30%;
  position: relative;
  background-color: var(--black);
  padding-bottom: 0.3em;
  width: 3em;
  margin-left: 17vw;
  box-shadow: var(--orangeB) 0 -1px 4px, var(--greenB) 0 -2px 10px, var(--blueB) 0 -10px 20px, var(--pinkB) 0 -18px 40px, 5px 5px 15px 5px var(--black);
  /*animation: glow 1s ease-in-out infinite alternate;*/
  background-image: radial-gradient(
    ellipse 50% 35% at 50% 50%,
    #6b1839,
    transparent
  );
  letter-spacing: 2;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  animation: shine 2s forwards;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
  28%,
  33% {
    color: #ff65bd;
    text-shadow: none;
  }
  82%,
  97% {
    color: #ff2483;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #6b1839;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
  }
}


@keyframes glow {
  from {
    text-shadow: 0 0 5px var(--pinkB), 0 0 10px var(--pinkB), 0 0 15px var(--pinkB), 0 0 20px var(--pinkD), 0 0 30px var(--pinkD), 0 0 40px var(--pinkD), 0 0 55px var(--pinkD), 0 0 75px var(--pinkD);
  }
  to {
    text-shadow: 0 0 2px white, 0 0 3px var(--pinkB), 0 0 10px var(--pinkB), 0 0 15px var(--pinkD), 0 0 20px var(--pinkD), 0 0 30px var(--pinkD), 0 0 40px var(--pinkD), 0 0 50px var(--pinkD);
  }
}

#portada h2 {
  font-weight: 500;
  color: var(--greenB);
  font-size: 2.5em !important;
  margin-bottom: 0;
  text-shadow: 0 0 3px var(--greenD), 0 0 5px var(--greenD), 0 0 7px var(--greenD), 0 0 10px var(--greenD), 0 0 12px var(--greenD), 0 0 15px var(--greenD), 0 0 17px var(--greenD), 0 0 20px var(--greenD);
}

#audioDiv {
  text-align: start;
}

#audioBtn {
  background-color: var(--pinkB);
  border: 1px solid var(--pinkD);
  z-index: 1;
  margin: 4px 0 0 10px;
  padding: 0.7em;
  border-radius: 50%;
  box-shadow: 0px 0px 9px 2px var(--pinkD);
  animation: buttonColor 2s linear 0s 3 normal;
  position: absolute;
}

#audioBtn:active {
  box-shadow: none;
  background-color: var(--pinkD);
}

@keyframes buttonColor {
  0% {
    box-shadow: 0px 0px 9px 2px var(--pinkD);
  }
  50% {
    box-shadow: 0px 0px 9px 2px var(--pinkB);
    background-color: var(--pinkD);
  }
  100% {
    box-shadow: 0px 0px 9px 2px var(--pinkD);
  }
}

#audioBtn:active {
  transform: scale(0.9);
}

#audioImg{
  color: white;
  transform: scale(1.5);
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 500,
  'opsz' 48;
}

/*address section*/

#direccion {
  background: var(--black);
  background-image: url("Erica\ Anderson.gif");
  background-size: cover;
}

#direccion p {
  font-size: 1.5em;
  line-break: auto;
  padding: 3em 1em;
  margin-top: -1em;
  margin-bottom: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  text-shadow: 
  -.1vw 0vw .25vw #A9FFDC, -.2vw 0vw .25vw #A9FFDC, -.4vw 0vw .25vw #011a10, 
  -.1vw 0vw .1vw #00CC2A, -.2vw 0vw .1vw #00CC2A, -.4vw 0vw .1vw #00CC2A,
  -.1vw 0vw .8vw #00CC2A, -.2vw 0vw .8vw #00CC2A, -.4vw 0vw .8vw #00CC2A, .2vw 0vw .5vw #00CC2A,
  -.1vw 0vw .5vw #00CC2A, -.2vw 0vw .5vw #00CC2A, -.4vw 0vw .5vw #00CC2A, 
  -.1vw 0vw 10vw #16FA19, -.2vw 0vw 10vw #16FA19, -.4vw 0vw 10vw #16FA19;
  color: #A9FFDC;
}

#mapa{
  border-top: 5px double var(--blueB);
  border-bottom: 5px double var(--blueB);
  padding-top: 5px;
}

/*party section*/
#container {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.neon-circle {
  -moz-box-shadow: 0px 0px 0px 8px #d0fe28, 0px 0px 8px 10px #98f00b, inset 0px 0px 8px 4px #98f00b, 0px 0px 98px 8px #91ad14, inset 0px 0px 98px 8px #809620;
  -webkit-box-shadow: 0px 0px 0px 8px #d0fe28, 0px 0px 8px 10px #98f00b, inset 0px 0px 8px 4px #98f00b, 0px 0px 98px 8px #91ad14, inset 0px 0px 98px 8px #809620;
  border-radius: 10em !important;
  box-shadow: 0px 0px 0px 8px #d0fe28, 0px 0px 8px 10px #98f00b, inset 0px 0px 8px 4px #98f00b, 0px 0px 98px 8px #91ad14, inset 0px 0px 98px 8px #809620 !important;
  height: 10em !important;
  
  width: 10em !important;
  margin: 4em;
  margin-bottom: 0;
}

.sign-one {
  padding-top: 0.4em !important;
  font-family: lasenter !important;
  font-size: 3em !important;
  line-height: 1em !important;
}

#sign-one {
  margin-left: -5vw;
  text-shadow: 
  .1vw 0vw .25vw #28D7FE, .2vw 0vw .25vw #28D7FE, .4vw 0vw .25vw #28D7FE, 
  .1vw 0vw .1vw #1041FF, .2vw 0vw 0vw #1041FF, .4vw 0vw 0vw #1041FF,
  .1vw 0vw .1vw #1041FF, .2vw 0vw .1vw #1041FF, .4vw 0vw 0vw #1041FF,
  .1vw 0vw .8vw #1041FF, .2vw 0vw .8vw #1041FF, .4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
  .1vw 0vw .5vw #1041FF, .2vw 0vw .5vw #1041FF, .4vw 0vw .5vw #1041FF, 
  .1vw 0vw 10vw #1041FF, .2vw 0vw 10vw #1041FF, .4vw 0vw 10vw #1041FF !important;
  color: #28D7FE !important;
}

.and {
    color: #FED128 !important;
    padding-right: 10em !important;
    padding-top: 0 !important;
    text-shadow: 
  -.1vw 0vw .25vw #FED128, -.2vw 0vw .25vw #FED128, -.4vw 0vw .25vw #FED128, 
  -.1vw 0vw .1vw #F0130B, -.2vw 0vw .1vw #F0130B, -.4vw 0vw .1vw #F0130B,
  -.1vw 0vw .1vw #F0130B, -.2vw 0vw .1vw #F0130B, -.4vw 0vw .1vw #F0130B,
  -.1vw 0vw .8vw #F0130B, -.2vw 0vw .8vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw .5vw #F0130B,
  -.1vw 0vw .5vw #F0130B, -.2vw 0vw .5vw #F0130B, -.4vw 0vw .5vw #F0130B, 
  -.1vw 0vw 10vw #FA1C16, -.2vw 0vw 10vw #FA1C16, -.4vw 0vw 10vw #FA1C16 !important;
}

.fa-shirt{
  padding-left: 1em;
  color: #ff00ff !important;
  text-shadow: 
  .1vw 0vw .25vw #ffffff, .2vw 0vw .25vw #ffffff, .4vw 0vw .25vw #ffffff !important;
}

#fiesta {
  background: var(--black);
  background-image: url("Erica\ Anderson.gif");
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

#fifle{
}

#fiesta .content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px 5px var(--greenB), inset 0px 0px 10px 9px var(--greenD);
}

#fiesta * {
  color: var(--orangeB);
  text-shadow: 3px 2px 0 var(--black), 2px 2px 6px rgba(124, 51, 105, 0);
}

.fiesta {
  width: 70vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -5vh;
}

.fiesta *{
  font-family: 'Orbitron', sans-serif;
}

.fiesta p {
  color: var(--orangeB) !important;
}

.fiesta h3 {
  font-size: 1.5em;
  color: var(--orangeB) !important;
  font-family: 'Neonderthaw', cursive;
  text-shadow: 0 0 3px var(--orangeD), 0 0 5px var(--orangeD), 0 0 7px var(--orangeD), 0 0 10px var(--orangeD), 0 0 12px var(--orangeD), 0 0 15px var(--orangeD), 0 0 17px var(--orangeD), 0 0 20px var(--orangeD) !important;
}

 #regalo, #vestimenta{
  padding: 1em 0;
}

#pedirRegalo {
  display: none;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: none;
  padding: 0;
  margin-top: 0;
  width: 50em;
  max-width: 90vw;
  font-size: 0.7em;
  margin-bottom: 0;
}

#botones{
  margin-top: -1em;
  display: flex;
  gap: 40px;
}

#copy{
  padding: 1em;
  border-radius: 10px;
  width: 4em;
  height: 1.2em;
  background:var(--orangeD);
  border: 1px solid var(--orangeD);
  box-shadow: 0px 0px 5px 1px var(--orangeD);
}

#copy:active {
  filter: opacity(50%);
}

#remove {
  font-weight: 100;
  padding: 1em;
  border-radius: 10px;
  width: 4em;
  height: 1.2em;
  background:none;
  border: 1px solid var(--orangeD);
  box-shadow: inset 0px 0px 5px 1px var(--orangeD);
}

#gimgDiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#click {
  animation: click 2s ease 0s infinite normal forwards;
  margin-left: 1em;
  transform: scale(1.8);
  color: var(--pinkB);
  font-variation-settings:
  'FILL' 1,
  'wght' 500,
  'GRAD' 300,
  'opsz' 48;
}

@keyframes click {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

#regalo {
 /* animation: gift 2s ease 10s infinite normal forwards;*/
  margin-left: 0.6em;
  margin-bottom: 0;
  background: linear-gradient( red , blue);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
  font-size:10vh;
  transform: scale(1.4);
}

@keyframes gift {
  0% {
    animation-timing-function: ease-out;
    transform: scale(1);
    transform-origin: center center;
  }

  10% {
    animation-timing-function: ease-in;
    transform: scale(0.91);
  }

  17% {
    animation-timing-function: ease-out;
    transform: scale(0.98);
  }

  33% {
    animation-timing-function: ease-in;
    transform: scale(0.87);
  }

  45% {
    animation-timing-function: ease-out;
    transform: scale(1);
  }
}

#regalo:active {
  filter: opacity(50%);
}

/*gallery section

#galeria {
  background-color: var(--three);
  height: auto;
  padding: 1em;
  color: var(--two);
  width: auto;
}

#galeria *,
#asistencia * {
  font-weight: 100;
}

#photos {
  display: flex;
  gap: 1em;
  flex-direction: column;
  height: auto;
  flex-wrap: wrap;
}

.gallerycont{
  background-color: #121011 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.imagen {
  border-radius: 20%;
  object-fit: cover;
  filter: contrast(40%);
  filter: brightness(130%);
  filter: saturate(1.5);
  border: 5px dotted var(--two);
  animation: shake 2s ease 0s infinite normal forwards;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }

  10% {
    transform: translate(-2px, -2px);
  }

  20% {
    transform: translate(2px, -2px);
  }

  30% {
    transform: translate(-2px, 2px);
  }

  40% {
    transform: translate(2px, 2px);
  }

  50% {
    transform: translate(-2px, -2px);
  }

  60% {
    transform: translate(2px, -2px);
  }

  70% {
    transform: translate(-2px, 2px);
  }

  80% {
    transform: translate(-2px, -2px);
  }

  90% {
    transform: translate(2px, -2px);
  }

  100% {
    transform: translate(0);
  }
}

/*confirm section*/

#asistencia {
  background: var(--black);
  padding: 2em;
  background-image: url("Erica\ Anderson.gif");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.h2asistencia{
  font-weight: lighter;
  text-shadow: 4px 3px 0 var(--blueD), 2px 2px 6px rgba(124, 51, 105, 0);
  font-family: 'Orbitron', sans-serif;
}

#whiteBack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  border-radius: 20px;
  padding: 1em;
  height: 40vh;
  box-shadow: inset 0px 0px 5px 5px var(--orangeB), inset 0px 0px 10px 9px var(--pinkD);
}

#asistencia button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1em;
  gap: 1em;
  padding: 1em;
  border-radius: 10px;
  background:none;
  border: 1px solid white;
  height: 30vh;
  width: 50vw;
  margin-top: 6em;
  box-shadow: var(--orangeB) 0 -1px 4px, var(--greenB) 0 -2px 10px, var(--blueB) 0 -10px 20px, var(--pinkB) 0 -18px 40px, 5px 5px 15px 5px var(--black), inset 0px 0px 98px 8px #341841, inset 0px 0px 8px 4px #c081c2;
}

.fa-whatsapp{
  color: #00CC2A !important;
  transform: scale(3);
  margin-left: 1em;
}

#confirmA {
  text-decoration: none;
  color: var(--orangeB);
  font-size: 1.5em;
  font-family: 'Orbitron', sans-serif;
}

.tenor-gif-embed {
  transform: scale(0.4);
  border-radius: 50%;
  margin-top: -5em;
}

#mensaje {
  padding: 0em 1em;
  font-size: 1.9em;
  font-weight: lighter;
  text-shadow: 
  -.1vw 0vw .25vw #A9FFDC, -.2vw 0vw .25vw #A9FFDC, -.4vw 0vw .25vw #011a10, 
  -.1vw 0vw .1vw #00CC2A, -.2vw 0vw .1vw #00CC2A, -.4vw 0vw .1vw #00CC2A,
  -.1vw 0vw .8vw #00CC2A, -.2vw 0vw .8vw #00CC2A, -.4vw 0vw .8vw #00CC2A, .2vw 0vw .5vw #00CC2A,
  -.1vw 0vw .5vw #00CC2A, -.2vw 0vw .5vw #00CC2A, -.4vw 0vw .5vw #00CC2A, 
  -.1vw 0vw 10vw #16FA19, -.2vw 0vw 10vw #16FA19, -.4vw 0vw 10vw #16FA19;
  color: #A9FFDC;
}

#messImg{
  filter: brightness(170%);
}

#asistencia button:active {
  box-shadow: none;
  background-color: var(--pinkD);
  transform: scale(0.9);
}

#asistencia button:hover {
  cursor: pointer;
}

#imagesEnd{
  height: 16em;
  width: 16em;

}

/*general*/

.section {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.one{
}

.two{
  box-shadow: var(--orangeB) 0 -1px 4px, var(--greenB) 0 -2px 10px, var(--blueB) 0 -10px 20px, var(--pinkB) 0 -18px 40px, 5px 5px 15px 5px var(--black);
}



body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  text-align: center;


}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url("73b207ec0441721eb06ea91f9e9a86ec.jpg") !important;
    background-size: contain !important;

  }
  .content {
    width: 50vw;
    padding: 3vw 5vw;
    border-radius: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  #portada .content {
    background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  }

  #direccion .content {
    background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  }

  #galeria .content {
    background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  }

  #fiesta .content {
    background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  }

  #asistencia .content {
    background: radial-gradient(ellipse at center, #000000 0%, #201734 100%);
  }

  #direccion p, .fiesta{
    background: none;
  }
  
  #photos {
    max-width: 500px;
    flex-direction: row;
    gap: 2em;
  }
  
  .imagen {
      width: 14em;
      height: 14em;
  }

  #demo {
    width: 25vw;
  }

  #audioDiv {
    align-self: flex-start;
  }

  .fiesta {
    width: 25vw;
    padding: 2vw;
  }

  .tenor-gif-embed {
    transform: scale(1);
    border-radius: 50%;
    margin-top: 5vh;
  }

  #kitty {
    height: 20vh;
  }

  #melody {
    height: 28vh;
    margin-top: 0vh;
  }

  #mensaje {
    margin-top: 8vh;
    margin-bottom: 0;
  }

  #portada h1 {
    font-size: 3em;
  }

  #portada h2 {
    font-size: 2em;
  }

  #direccion p {
    font-size: 2em;
  }

  .fiesta h3 {
    font-size: 2em;
  }

  .fiesta p {
    font-size: 1.5em;
  }

  .content h2 {
    font-size: 2.5em;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
